<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <title>Welcome</title>
  </head>
  <body> 
<form action='#' method = "POST">
{% csrf_token %}
    {{ form }}
    <br/>
  
    <br/>
    <input type = "submit" value = "Submit for Question1" formaction='{% url "question1" %}'>
    <input type = "submit" value = "Submit for Question2" formaction='{% url "question2" %}'>
    <input type = "submit" value = "Submit for Question3" formaction='{% url "question3" %}'>
</form>

 </body>
</html>